:root {

    --radius-factor: 1;

    --radius-xs: 4px;
    --radius-sm: calc(var(--radius-base-sm, 6px) * var(--radius-factor));
    --radius-md: calc(var(--radius-base-md, 8px) * var(--radius-factor));
    --radius-pill: 999px;

    --radius-knob: 50%;
}

:root[data-radius="square"] {
    --radius-factor: 0;
    --radius-xs: 0px;
    --radius-pill: 0px;
    --radius-knob: 0px;
}

:root[data-radius="slight"] {
    --radius-factor: 0.5;
    --radius-xs: 2px;
    --radius-pill: 4px;
    --radius-knob: 3px;
}

:root[data-radius="large"] {
    --radius-factor: 1.5;
    --radius-xs: 6px;
}
